#crystal1 {
    width: 150px;
    height: 150px;
}

#crystal2 {
    width: 150px;
    height: 150px;
}

#crystal3 {
    width: 150px;
    height: 150px;
}

#crystal4 {
    width: 150px;
    height: 150px;
}