*{
    box-sizing: border-box;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
    width: 200px;
    height: 200px;
}

.jumbotron {
    background: lightblue;
}

#mainBody {
    background-image: url(../../assets/images//royalty-free-stock-images-abstract-swirls-seamless-pattern-background-vector-hand-drawn-curl-elements-blue-image.jpg)
}