
.jumbotron {
    margin-bottom: 7px;
}
#crystal1, #crystal2, #crystal3, #crystal4 {
    width: 200px;
    height: 200px;
    border: 2px solid darkblue;
    margin: 20px;
}

.jumbotron {
    background: lightblue;
}

#mainBody {
    background-image: url(../images//royalty-free-stock-images-abstract-swirls-seamless-pattern-background-vector-hand-drawn-curl-elements-blue-image.jpg)
}

.card {
    background-image: url(../images//royalty-free-stock-images-abstract-swirls-seamless-pattern-background-vector-hand-drawn-curl-elements-blue-image.jpg)
}